/* 2° . = classe | 1° # = id */
.page {
  padding: 0;
}

/*Sections*/

@media (max-width: 768px) {
  .section {
    margin: 30px 0;
    /*Espaçamento para baixo e para cima de cada section */
    min-height: 30vh;
    /*Cada section terá 60% da tela*/
  }
}

/*Hero Section*/
.hero {
  background-image: url("/teste.jpg");
  background-color: burlywood;

  display: flex;
  padding-bottom: 100px;
  min-height: 76vh;
}

.heroContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: center;
  align-items: flex-start;

  margin-left: 10%;
  margin-right: 25%;
  gap: 40px;

  top: 40%;
  left: 50%;

  border: 3px solid greenyellow;
}

.buttonhero {
  font-size: 20px;
  ;
}

.cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  margin-top: -100px;
  justify-content: center;

  border: 3px solid greenyellow;
}

.card {
  background-color: #BC8D43;
  margin: 15px;
  padding: 10px;
}

/*servicos Section*/
.servicos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

  background-color: brown;
}

.servicoscontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.tituloservicos {
  padding: 25px;
  text-align: center;

  border: 3px solid yellowgreen;
}

.pedidos {
  gap: 20px;
}

.box {
  display: flex;
  padding: 25px;
}

.boxesq {
  padding: 0px 10px;
}

.boxdir {
  padding: 0px 10px;
}

.buttonservicos {
  font-size: 20px;
  padding: 10px;
}

.lista {
  margin: 50px;
  list-style-type: none;
}

.linhas {
  padding: 5px
}

.bancos {
  padding: 25px;
}

.banco {
  padding: 5px;
}

@media (max-width: 768px) {
  .pedidos {
    flex-direction: column;
    /*Transforma em coluna no mobile*/
  }
}

/* provaSocial Section */
.provasocial {
  background-color: orchid;
}

.contentprovasocial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

  padding-bottom: 35px;
}

.tituloprovasocial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 25px
}

.depoimentos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.depoimento1,
.depoimento2,
.depoimento3 {
  padding: 0px 35px;
}

.textodepoimento {
  padding: 5px 0;
}

.nomedepoimento {
  padding: 5px 0px;
}

/* diferencial Section */
.diferencial {
  background-color: tomato;
}

.contentdiferenciais {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 20px;
}

.headerdiferenciais {
  text-align: center;
  padding: 15px;
}

.h4 {
  font-size: 10px;
  padding: 10px;
}

.titulodiferenciais {
  padding: 10px;
}

.cardsdiferenciais {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.cards1e2diferenciais {
  padding: 0px 10px;
}

.card1 {
  background-color: burlywood;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-bottom: 30px;
}

.card2 {
  background-color: burlywood;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 5px;
}

.cards3e4diferenciais {
  padding: 0px 10px;
}

.card3 {
  background-color: burlywood;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-bottom: 30px;
}

.card4 {
  background-color: burlywood;
  align-items: center;
  display: flex;
  flex-direction: column;

  padding: 5px;
}

/* sobreNos Section */
.sobreNos {
  background-color: yellowgreen;
}

/* contato Section */
.contato {
  background-color: thistle;
}