/* 2° . = classe | 1° # = id */
.page{

}

/*Sections*/
.section{
  margin: 60px 0; /*Espaçamento para baixo e para cima de cada section */
  min-height: 60vh; /*Cada section terá 60% da tela*/
}

@media (max-width: 768px) {
  .section{
    margin: 30px 0; /*Espaçamento para baixo e para cima de cada section */
    min-height: 30vh; /*Cada section terá 60% da tela*/
  }
}

/*Hero Section*/
#hero {
  padding-top: 132px; /*Tentei adicionar uma margem para que o conteúdo não misture com a navbar*/
}

.heroContent{

}

.cards{

}

.card{

}

/*servicos Section*/
#servicos {

}

#pedidos{
  display: flex;
  gap: 20px;
}

@media (max-width: 768px){
  .pedidos {
    flex-direction: column; /*Transforma em coluna no mobile*/
  }
}

/* #boxesq{
  flex: 1;

}

#boxdir{
  flex: 1;

}

.boxesq, .boxdir {
  flex: 1;
} */