.navbar {
  background-color: coral;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.66);
  backdrop-filter: blur(4px);
}

.contentnav {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  /*1280px*/
  height: 4rem;
  /*64px*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  /*24px*/
  padding-right: 1.5rem;
  /*24px*/

}

@media (min-width: 1024px) {
  .contentnav {
    padding-left: 2rem;
    /*32px*/
    padding-right: 2rem;
    /*32px*/
  }
}


.logonav {
  display: flex;
  align-items: center;
}

.logo {
  fill: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font: bold;
  font-weight: 700;
  /*Pq 700 e não definiu se é px ou rem? */
  position: relative;
  width: 210px;
  height: 100%;
}

.buttonsnav {
  display: none;
  align-items: center;
  gap: 1rem;
  /*16px*/
  margin-left: 1.5rem;
  /*24px*/
}

@media (min-width: 640px) {
  .buttonsnav {
    display: flex;
  }
}

.activeLink {
  background-color: rgb(126, 34, 206 / 0.5);
}

.link {
  padding: 0.5rem 0.75rem; /*y:8px e x:12px*/
  border-radius: 0.375rem;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width:1024px){
  .link{
    font-size: 1.125rem; /*18px*/
    line-height: 1.75rem; /*28px*/;
  }
}

.icone{
  display: flex;
}

@media (min-width:640px) {
  .icone{
    display: none;
  }
}

.iconeMd{
  width: 2rem;
  height: 2rem;
}

.iconeGi{
  width: 2rem;
  height: 2rem;
}

.linksnavmobile{
  position: absolute;
  top: 4rem; /*64px*/
  padding: 1rem 1rem 4rem 1rem; /*1rem=16px, 4rem=64px*/
  height: 100vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: black;

  width: 100%;
}

.contentnavmobile{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem; /*80px*/
  width: 40%;
  
}