.navbar {
    background-color: transparent;  /* Fundo transparente para integrar com a imagem da home */
    padding: 16px;  /* Espaçamento interno */
    position: fixed;  /*Fixa a navbar no topo da página */
    width: 100%;  /* Navbar ocupa toda a largura da página */
    top: 0; /*Posiciona a navbar no topo */
    left: 0;  /*Alinha a navbar à esquerda */
    z-index: 1000;  /*Navbar em cima de qualquer outro item do site */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.3s, background-color 0.3s;  /* Transição suave no CSS */
  }

  .shrink {
    padding: 8px; /*Reduz o padding quando a página rola */
    height: 50px;
    background-color: blueviolet; /*Muda a cor ao sair da página inicial */
  }
  
  .navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    cursor: pointer;
    height: 130px;
    width: 565px;
    background-color: gray;
  }

  .navList {
    list-style: none;
    display: flex;     
    justify-content: space-around;
    margin: 0;           
    padding: 0;           
    align-items: center;
  }
  
  .navItem a {
    color: white;      
    text-decoration: none; 
    font-weight: bold;  
    transition: color 0.3s;
    padding: 10px;
  }
  
  .navItem a:hover {
    color: gray; /* Cor ao passar o mouse*/
  }

